version: '3.8'
services:
  api:
    image: calculator:1
    networks:
      - webnet
    ports:
      - target: 5000
        published: 5000
        protocol: tcp
        mode: ingress
    deploy:
      replicas: 4
      restart_policy:
        condition: on-failure

networks:
  webnet:
    driver: overlay
    attachable: true